.product-cont{
    overflow: hidden;
}
.product-cont li{
    float: left;
}
.product-cont li:last-of-type{
    float: right;
}
.product-cont li img{
    width: 100px;
    border-radius: 10px;
}
.product-cont li span{
    background-color: #e1f0ff;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 22px;
    border-radius: 57px;
}
.open{
    display: block;
}
.close{
    display: none;
}