.check-btn button{
    background: #e63c3c;
    border-color: #e63c3c;
    padding: 20px 25px;
    border-radius: 45px;
}
.check-btn button:hover{
    background: #e63c3c;
    border-color: #e63c3c;
}
.check-btn button span{
    text-transform: uppercase;
    padding: 7px 16px;
    background: #fff;
    box-shadow: 1px 1px 9px #fff;
    color: #e63c3c;
    margin-left: 10px;
    border-radius: 30px;
    font-weight: 500;
}